@font-face {
  font-family: 'Miliki';
  src: url('/assets/fonts/Millik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('/assets/fonts/GeneralSans-Variable.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'GeneralSans', sans-serif;
}

.active::before {
  content: '.';
  height: 100%;
  width: 4px;
  background: #8046F2;
  margin-left: -11px;
  margin-right: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.walletBg {
  background-image: url('../../public/assets/images/walletOverlay.png');
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  
}

::-webkit-scrollbar{
  display: none;
}
.dashboardH1 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: -4px;
}
.balanceDiv h1{
  font-weight: 500;
  font-size: 18px;
}
.savingsDiv h1{
  margin-bottom: 0;
}
.savingsDiv {
  text-wrap: wrap;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
}

.custom h1{
  font-weight: 500;
  font-size: 15px;
  color: black;
}
.custom{
  font-weight: 470;
}
.pad_0 section{
  padding: 0;
}
.pad_0 header{
  box-shadow: none;
}